:root {
  --primary-title-color: #212121;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --third-bg-color: #f5f4fa;
  --footer-color: rgba(255, 255, 255, 0.6);
  --hero-btn-background: #188ce8;
  --header-border-color: #ececec;
  --project-border-color: #eeeeee;
  --secondary-text-color: #afb1b8;
  --bg-footer-soc: rgba(255, 255, 255, 0.1);
  --bg-cover-color: rgba(33, 150, 243, 0.9);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --activity-bg-color: rgba(47, 48, 58, 0.8);
  --modal-border-color: rgba(33, 33, 33, 0.2);
  --placeholder-color: rgba(117, 117, 117, 0.5);
  --border-input-color: rgba(255, 255, 255, 0.3);

  --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);

  --main-font: "Roboto", sans-serif;
}
