.feature__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.feature-list__item {
  flex-basis: 100%;

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 2);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.feature-list__icon {
  display: flex;
  width: 100%;
  height: 120px;
  align-items: center;
  justify-content: center;
  background-color: var(--third-bg-color);
  margin-bottom: 30px;
  border-radius: 4px;
}

.feature-list__name {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-title-color);
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}
